.recent-submissions {
  font-family: Open Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0F49BD;
}

.btn-load {
    background-color: #0F49BD;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.top {
  position: relative;
  top: -15rem; 
}

@media (max-width: 768px) {
  .top {
    position: relative;
    top: 0; 
  }
}