@if (shouldRender()) {

  <ds-metadata-field-wrapper [label]="label | translate">

    @let itemDoi = getItemDoiResolved();

    @if (itemDoi) {

      <!-- ✅ ITEM POSSUI DOI → MOSTRA APENAS UM -->
      <a
        class="dont-break-out"
        [href]="itemDoi.link"
        target="_blank"
        role="link"
        tabindex="0">
        https://doi.org/{{ linktext || itemDoi.text }}
      </a>

    } @else {

      <!-- ❌ ITEM SEM DOI → MOSTRA TODOS OS URIs -->
      @for (mdValue of mdValues; track mdValue.value; let last = $last) {

        @let resolved = resolveIdentifier(mdValue.value);

        @if (resolved) {
          <a
            class="dont-break-out"
            [href]="resolved.link"
            target="_blank"
            role="link"
            tabindex="0">
            {{ linktext || resolved.text }}
          </a>
        } @else {
          <span class="dont-break-out">
            {{ mdValue.value }}
          </span>
        }

        @if (!last) {
          <span [innerHTML]="separator"></span>
        }
      }

    }

  </ds-metadata-field-wrapper>

}
